:root {
  --main-font: "Poppins", sans-serif;
  --font-size: 16px;
  --small: 0.7em;
  --normal: 0.8em;
  --medium: 1.2em;
  --large: 1.6em;
  --main-color: #000e5c;
  --second-color: #fff;
  --botton-bg: var(--second-color);
  --botton-text: #3554ff;
  --container-width: 1200px;
  --border: 1px solid rgb(182, 182, 182);
  --radius: 10px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body header {
  top: 0;
  width: 100%;
  height: 50px;
  position: sticky;
  background-color: var(--main-color);
}
body header nav {
  display: grid;
  grid-template-columns: auto 1fr;
  place-content: center;
  height: 100%;
  padding-right: 15px;
  box-shadow: rgb(189, 189, 189) 1px 1px 10px;
}
body header nav img {
  width: 40px;
  padding-left: 10px;
}
body header nav ul {
  list-style: none;
  margin: auto 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: right;
}
body header nav ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 15px;
}
body header nav ul li a {
  text-decoration: none;
  color: var(--second-color);
  font-size: var(--normal);
}
body main {
  width: 100%;
}
body main .news figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body main .news figure img {
  max-width: 320px;
  margin: auto;
}
body main .news figure figcaption {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  font-size: var(--large);
  font-weight: 600;
  color: var(--main-color);
  border-bottom: var(--border);
}
body main .systems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: var(--border);
  padding-bottom: 20px;
}
body main .systems h1 {
  text-align: center;
  color: var(--main-color);
  font-size: var(--medium);
}
body main .systems figure {
  max-width: 288px;
  border-radius: var(--radius);
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: rgb(189, 189, 189) 1px 1px 10px;
}
body main .systems figure figcaption {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: var(--normal);
}
body main .about {
  max-width: 380px;
  padding: 15px;
  margin: auto;
}
body main .about p {
  text-align: center;
  font-size: var(--normal);
}
body main .contact-us {
  max-width: 348px;
  width: 80%;
  margin: auto;
  padding: 20px 30px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: var(--normal);
  box-shadow: 1px 1px 10px #bdbdbd;
}
body main .contact-us h2 {
  margin: 10px;
  text-align: center;
  color: var(--main-color);
  font-size: var(--x-large);
}
body main .contact-us label {
  margin-bottom: 5px;
}
body main .contact-us input {
  padding-bottom: 5px;
  width: 100%;
}
body main .contact-us input,
body main .contact-us textarea {
  outline: none;
}
body main .contact-us textarea {
  padding: 5px 5px;
  border: var(--border);
}
body main .contact-us input {
  border: none;
  border-bottom: var(--border);
  margin-bottom: 25px;
}
body main .contact-us textarea {
  border-radius: var(--radius);
  width: 100%;
  font-family: var(--main-font);
  font-size: var(--normal);
}
body main .contact-us input[type=submit] {
  height: 40px;
  margin-top: 15px;
  border: 1px solid var(--botton-text);
  border-radius: var(--radius);
  background-color: var(--botton-bg);
  color: var(--botton-text);
}

footer {
  width: 100%;
  background-color: var(--main-color);
  margin-top: 30px;
}
footer p {
  font-size: var(--small);
  text-align: center;
  color: var(--second-color);
}

@media screen and (min-width: 768px) {
  body main .systems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
  }
  body main .systems h1 {
    grid-column: 1/3;
  }
  body main .systems .first-child {
    justify-self: right;
  }
}

/*# sourceMappingURL=index.css.map */
