* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@keyframes boxBigger {
  from {
    width: 90%;
  }
  to {
    width: 100%;
  }
}
body header {
  height: 50px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: fixed;
}
body header nav {
  background-color: #000e5c;
}
body header nav .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  place-items: center;
}
body header nav .container .logo {
  list-style: none;
  justify-self: start;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body header nav .container .logo img {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  list-style: none;
  pointer-events: none;
}
body header nav .container .logo .logo-text {
  color: #fff;
  padding-left: 5px;
}
body header nav .container .item {
  list-style: none;
  justify-self: end;
  font-size: 12px;
  cursor: pointer;
}
body header nav .container .item a {
  text-decoration: none;
  color: #fff;
}
body header nav .container .item a:hover {
  color: #bbb9b9;
}
body header nav .container .about {
  padding-right: 10px;
}
body main {
  width: 100vw;
}
body main .behind-nav {
  height: 40px;
}
body main .container {
  background-color: #fff;
  display: grid;
  place-items: center;
}
body main .container .day-container {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
  padding-top: 20px;
}
body main .container .day-container figure {
  display: grid;
  place-items: center;
}
body main .container .day-container figure .vector-1 {
  width: 80%;
  pointer-events: none;
}
body main .container .day-container figure figcaption {
  font-family: "Opens Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  color: #021580;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  word-wrap: break-word;
}
body main .container .day-container figure .vector-2 {
  display: none;
  width: 0;
  height: 0;
}
body main .container .systems {
  display: grid;
  place-items: center;
  margin-top: 10px;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
}
body main .container .systems .container {
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 1/2fr);
}
body main .container .systems .container figcaption {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}
body main .container .systems .container img {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 20px;
}
body main .container .systems .container:hover {
  background-color: #0421c0;
  color: #fff;
  width: 85%;
}
body main .about {
  width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}
body main .contact-us {
  width: 80%;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 10px #a8a8a8;
}
body main .contact-us .title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #000e5c;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
body main .contact-us form {
  display: grid;
  width: 90%;
  margin: auto;
}
body main .contact-us form label {
  color: #000e5c;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 2px;
}
body main .contact-us form input:not(.submit) {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-bottom: 3px;
  padding-left: 5px;
  border-bottom: 1px solid #dddddd;
  background-color: #f7f7f7;
  outline: none;
}
body main .contact-us form .in-alert {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 10px;
}
body main .contact-us form textarea {
  padding-left: 5px;
  padding-top: 10px;
  border: 1px solid #dddddd;
  font-size: 12px;
  border-radius: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body main .contact-us form .submit {
  margin-top: 10px;
  height: 40px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  background-color: #0428f0;
  color: #fff;
  border-radius: 10px;
  cursor: not-allowed;
}

footer {
  background-color: #000e5c;
  height: 50px;
  width: 100%;
  display: grid;
  place-items: center;
}
footer p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 11px;
}

@media screen and (min-height: 1135px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}
@media screen and (min-width: 400px) {
  body main .container .day-container {
    width: 100%;
  }
  body main .container .day-container img {
    max-width: 400px;
  }
  body main section .container {
    max-width: 320px;
  }
  body main .contact-us {
    max-width: 317px;
  }
}
@media screen and (min-width: 500px) {
  body header nav .container {
    grid-template-columns: 65% repeat(3, 10%);
  }
  body main .about {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  body main .container .systems {
    grid-template-rows: repeat(2, 1fr);
  }
  body main .container .systems .last {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1024px) {
  body main .container .systems {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  body main .container .systems .last {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

/*# sourceMappingURL=index.css.map */
