footer {
	background-color: $color-primary;
	height: 50px;
	width: 100%;
	display: grid;
	place-items: center;
	p {
		color: $main-bg-color;
		font-family: "Poppins", sans-serif;
		text-align: center;
		font-size: $sm;
	}
}
