:root {
	--main-font: "Open Sans", sans-serif;

	--font-size: 16px;
	--small: 0.7em;
	--normal: 0.8em;
	--medium: 1.2em;
	--large: 1.6em;

	--main-color: #000e5c;
	--second-color: #fff;
	--third-color: #8f8f8f;
	--bg-color: #eeeeee;
	--botton-bg: var(--second-color);
	--botton-text: #3554ff;
	--hover: #00137e;
	--active: #001277;
	--not-allowed: rgb(87, 87, 87);
	--alert: rgb(255, 55, 55);
	--sucessful: rgb(0, 163, 43);
	--transparent: rgb(255, 255, 255, 0.5);
	--loader: #4d67ff;

	--container-width: 1200px;

	--border: 1px solid rgb(182, 182, 182);
	--radius: 10px;
}

html {
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: var(--font-size);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
	//TO FIX FOOTER ON BOTTOM
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img {
	width: 100%;
	height: auto;
}
