$main-bg-color: #fff;
$bg-alt-color: #f7f7f7;
$color-primary: #000e5c;
$color-secondary: #021580;
$hover: #0421c0;
$no-available: #0428f0;
$hover-alt: #bbb9b9;
$bd-color: #dddddd;
$border: 1px solid $bd-color;
$radius: 10px;
$shadow-color: #a8a8a8;
$text-color: #000000;

$h1: 26px;
$h2: 22px;
$h3: 18px;
$lg: 14px;
$md: 12px;
$sm: 11px;

$btn-height: 40px;
