@import "reset";
@import "variables";
@import "animations";

body {
	header {
		height: 50px;
		width: 100%;
		font-family: "Poppins", sans-serif;
		position: fixed;

		nav {
			background-color: $color-primary;

			.container {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				column-gap: 10px;
				place-items: center;
				.logo {
					list-style: none;
					justify-self: start;
					margin-left: 5px;
					display: flex;
					flex-direction: row;
					align-items: center;
					img {
						width: 40px;
						height: 40px;

						padding-left: 10px;
						list-style: none;
						pointer-events: none;
					}
					.logo-text {
						color: $main-bg-color;
						padding-left: 5px;
					}
				}
				.item {
					list-style: none;
					justify-self: end;
					font-size: $md;
					cursor: pointer;
					a {
						text-decoration: none;
						color: $main-bg-color;
					}
					a:hover {
						color: $hover-alt;
					}
				}

				.about {
					padding-right: 10px;
				}
			}
		}
	}
	main {
		width: 100vw;

		.behind-nav {
			height: 40px;
		}
		.container {
			background-color: $main-bg-color;
			display: grid;
			place-items: center;

			.day-container {
				border-bottom: $border;
				margin-bottom: 30px;
				padding-top: 20px;
				figure {
					display: grid;
					place-items: center;
					.vector-1 {
						width: 80%;
						pointer-events: none;
					}
					figcaption {
						font-family: "Opens Sans", sans-serif;
						font-size: $h3;
						text-align: center;
						text-transform: uppercase;
						padding-top: 10px;
						color: $color-secondary;
						font-weight: 600;
						padding-left: 30px;
						padding-right: 30px;
						word-wrap: break-word;
					}
					.vector-2 {
						display: none;
						width: 0;
						height: 0;
					}
				}
			}
			.systems {
				display: grid;
				place-items: center;
				margin-top: 10px;
				grid-template-rows: repeat(3, 1fr);
				row-gap: 20px;
				.container {
					cursor: pointer;
					border: $border;
					border-radius: $radius;
					width: 80%;
					display: grid;
					place-items: center;
					grid-template-rows: repeat(3, 1/2fr);
					figcaption {
						text-align: center;
						font-family: "Poppins", sans-serif;
						margin-top: 20px;
					}
					img {
						width: 90%;
						padding-top: 10px;
						padding-bottom: 20px;
					}
				}
				.container:hover {
					background-color: $hover;
					color: $main-bg-color;
					width: 85%;
				}
			}
		}
		.about {
			width: 80%;
			margin: auto;
			font-family: "Poppins", sans-serif;
			text-align: center;
			font-size: $lg;

			margin-top: 30px;
			margin-bottom: 30px;
		}
		.contact-us {
			width: 80%;
			margin: auto;
			background-color: $bg-alt-color;
			border-radius: $radius;
			border: $border;
			margin-bottom: 40px;
			.title {
				font-family: "Poppins", sans-serif;
				text-align: center;
				color: $color-primary;
				padding-top: 20px;
				margin-bottom: 10px;
				font-size: $lg;
				text-transform: uppercase;
			}
			form {
				display: grid;
				width: 90%;
				margin: auto;

				label {
					color: $color-primary;
					font-family: "Poppins", sans-serif;
					font-size: $lg;
					margin-bottom: 2px;
				}
				input:not(.submit) {
					font-family: "Poppins", sans-serif;
					font-size: $md;
					margin-bottom: 10px;

					padding-left: 5px;
					border-bottom: $border;
					background-color: $bg-alt-color;
					outline: none;
				}
				textarea {
					margin-bottom: 10px;

					padding-left: 5px;
					padding-top: 10px;
					border: $border;
					font-size: $md;
					border-radius: $radius;
					outline: none;
					font-family: "Poppins", sans-serif;
				}
				.submit {
					margin-top: 10px;
					height: $btn-height;
					margin-bottom: 20px;

					font-family: "Poppins", sans-serif;
					font-size: $md;
					background-color: $color-primary;
					color: $main-bg-color;
					border-radius: $radius;
					cursor: pointer;
				}
				.submit:hover {
					background-color: $hover;
				}
			}
		}
	}
}

@import "footer";

@media screen and (min-width: 400px) {
	body {
		main {
			.container {
				.day-container {
					width: 100%;
					img {
						max-width: 400px;
					}
				}
			}
			section {
				.container {
					max-width: 320px;
				}
			}

			.contact-us {
				max-width: 317px;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	body {
		header {
			nav {
				.container {
					grid-template-columns: 65% repeat(3, 10%);
				}
			}
		}
		main {
			.about {
				max-width: 400px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	body {
		main {
			.container {
				.systems {
					grid-template-rows: repeat(2, 1fr);

					.last {
						grid-column: 1/3;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	body {
		main {
			.container {
				.systems {
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: 1fr;

					.last {
						grid-column: 2/3;
						grid-row: 1/2;
					}
				}
			}
		}
	}
}
