@import "reset";
@import "variables";

body::-webkit-scrollbar {
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: transparent;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	header {
		width: 100%;
		height: 50px;
		font-family: "Poppins", sans-serif;
		position: fixed;

		nav {
			background-color: $color-primary;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			.logo {
				list-style: none;

				margin-top: 5px;
				width: 30%;

				img {
					width: 40px;
					height: 40px;

					list-style: none;
					pointer-events: none;
					padding-left: 10px;
				}
				.logo-text {
					color: $main-bg-color;
					padding-left: 5px;

					display: none;
				}
			}
			.container {
				grid-column: 2/3;

				justify-self: end;
				display: flex;
				flex-direction: row;

				width: fit-content;

				.item {
					list-style: none;
					width: 5rem;
					font-size: $md;
					cursor: pointer;
					padding-top: 13px;
					height: 100%;
					justify-content: end;
					text-align: center;
					transition-property: background-color;
					transition-duration: 600ms;
					transition-timing-function: ease;
					transition-delay: linear;

					a {
						text-decoration: none;
						color: $main-bg-color;
					}
				}
				.item:hover {
					background-color: $color-secondary;
				}
			}
		}
	}
	main {
		width: 100vw;

		.behind-nav {
			height: 40px;
		}
		.container {
			background-color: $main-bg-color;
			display: grid;
			place-items: center;

			.day-container {
				border-bottom: $border;
				margin-bottom: 30px;
				padding-top: 20px;
				figure {
					display: grid;
					place-items: center;
					.vector-1 {
						width: 80%;
						pointer-events: none;
					}
					figcaption {
						font-family: "Opens Sans", sans-serif;
						font-size: $h3;
						text-align: center;
						text-transform: uppercase;
						padding-top: 10px;
						color: $color-secondary;
						font-weight: 600;
						padding-left: 30px;
						padding-right: 30px;
						word-wrap: break-word;
					}
					.vector-2 {
						display: none;
						width: 0;
						height: 0;
					}
				}
			}
			.systems {
				display: grid;
				place-items: center;
				margin-top: 10px;
				grid-template-rows: repeat(3, 1fr);
				row-gap: 20px;
				.container {
					cursor: pointer;
					border: $border;
					border-radius: $radius;
					width: 80%;
					display: grid;
					place-items: center;
					grid-template-rows: repeat(3, 1/2fr);
					transition-property: width, background-color;
					transition-duration: 700ms;
					transition-timing-function: ease;
					transition-delay: ease-out;
					figcaption {
						text-align: center;
						font-family: "Poppins", sans-serif;
						margin-top: 20px;
					}
					img {
						width: 90%;
						padding-top: 10px;
						padding-bottom: 20px;
					}
				}
			}
		}
		.about {
			width: 80%;
			margin: auto;
			font-family: "Poppins", sans-serif;
			text-align: center;
			font-size: $lg;

			margin-top: 30px;
			margin-bottom: 30px;
		}
		.contact-us {
			width: 80%;
			margin: auto;
			background-color: $bg-alt-color;
			border-radius: $radius;

			margin-bottom: 40px;
			box-shadow: 2px 2px 10px $shadow-color;
			.title {
				font-family: "Poppins", sans-serif;
				text-align: center;
				color: $color-primary;
				padding-top: 20px;
				margin-bottom: 10px;
				font-size: $lg;
				text-transform: uppercase;
			}
			form {
				display: grid;
				width: 90%;
				margin: auto;

				label {
					color: $color-primary;
					font-family: "Poppins", sans-serif;
					font-size: $lg;
					margin-bottom: 2px;
				}
				input:not(.submit) {
					font-family: "Poppins", sans-serif;
					font-size: $md;
					margin-bottom: 3px;
					padding-left: 5px;
					border-bottom: $border;
					background-color: $bg-alt-color;
					outline: none;
				}
				.in-alert {
					font-family: "Poppins", sans-serif;
					font-size: $sm;
					font-weight: 400;
					color: $text-color;
					margin-bottom: 10px;
				}
				textarea {
					padding-left: 5px;
					padding-top: 10px;
					border: $border;
					font-size: $md;
					border-radius: $radius;
					outline: none;
					font-family: "Poppins", sans-serif;
				}
				.submit {
					margin-top: 10px;
					height: $btn-height;
					margin-bottom: 20px;

					font-family: "Poppins", sans-serif;
					font-size: $md;
					background-color: $no-available;
					color: $main-bg-color;
					border-radius: $radius;
					cursor: not-allowed;
				}
				.alert-alert {
					font-family: "Poppins", sans-serif;
					font-size: $sm;
					font-weight: 400;
					color: $text-color;
					margin-bottom: 10px;
					text-align: center;
				}
			}
		}
	}
}

@import "footer";

@media screen and (min-width: 400px) {
	body {
		main {
			.container {
				.day-container {
					width: 100%;
					img {
						max-width: 400px;
					}
				}
			}
			section {
				.container {
					max-width: 320px;
				}
			}

			.contact-us {
				max-width: 317px;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	body {
		main {
			.about {
				max-width: 400px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	body::-webkit-scrollbar {
		position: absolute;
		width: 10px;
		background-color: $scroll-bg;
	}

	body::-webkit-scrollbar-thumb {
		background-color: $scroll-color;
		border-radius: 50px;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid $main-bg-color;
		border-top: 1px solid $main-bg-color;
		border-bottom: 1px solid $main-bg-color;
		border-left: 1px solid $main-bg-color;
	}
	body {
		header {
			nav {
				margin-right: 10px;
				.logo {
					display: flex;
					.logo-text {
						display: block;
						margin-top: 9px;
					}
				}
			}
		}
		main {
			.container {
				.systems {
					grid-template-rows: repeat(2, 1fr);

					.last {
						grid-column: 1/3;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	body {
		header {
			header {
				.container {
					.item:hover {
						background-color: $color-secondary;
					}
				}
			}
		}
		main {
			.container {
				.systems {
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: 1fr;

					.last {
						grid-column: 2/3;
						grid-row: 1/2;
					}
					.container:hover {
						background-color: $hover;
						color: $main-bg-color;
						width: 85%;
					}
				}
			}
		}
	}
}
