@import "reset";
body {
	@import "loader";
	@import "header";
	main {
		.grid {
			border: var(--border);
			width: 100%;
			figure {
				border: var(--border);
				background-color: red;
				img {
					width: 50px;
				}
				figcaption {
					margin-top: 10px;
					color: red;
				}
			}
		}
	}
}
