*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  /* COLORS */
  --main-bg-color:#fff;
  --color-primary:#03045E;
  --color-secondary:#023E8A;
  --color-tertiary:#0077B6;
  --hover-bg-color:#e6e6e6;
  --active-bg-color:#bfbfbf;
}
body::-webkit-scrollbar{
  width:.5rem;
  background-color: var(--main-bg-color);
  
}

body::-webkit-scrollbar-thumb{
  background-color: var(--color-secondary);
  border-radius:1rem;
}

header
nav{
  display:flex;
  flex-direction: row-reverse;
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  width:100%;
}

nav
a{
  text-decoration: none;
  color:var(--color-primary);
  text-align: center;
}

nav
a
p{
  padding-top: .25rem;
}
nav
a:hover{
  color:var(--color-secundary);
}



header
nav
.btn{
  width:6rem;
  height:1.4rem;
  margin-top:1rem;
  margin-left: .5rem;
  font-size: .775rem;
  text-transform: uppercase;
  font-weight: 600;
  animation: bigger;
  animation-duration: 5s;
}

header
nav
.btn:hover{
  background-color: var(--hover-bg-color);
  border-radius: 1rem;
}

header
nav
.btn:active{
  background-color:var(--active-bg-color);
}

header
nav
.logo{
  margin-right: .9rem;
}

header
nav
.home{
  margin-left: 4.9rem;
}

main
.title-container{
  height: 4rem;
  width:100%;
  
  background-color: var(--color-primary);
  
  margin-top:.6rem;
  margin-bottom: 1rem;

  padding-top: .2rem;
  padding: 1rem;
}

.title-container
.main-title{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color:var(--main-bg-color);
  font-weight: 600;
  font-size: 1.575rem;
  text-align: left;
}

.typing{
  position: relative;
}

.typing::after{
  content: "";
  background-color: var(--color-primary);
  right: 0;
  height: 100%;
  position:absolute;
  animation: typing 3s backwards steps(55);
}

@keyframes typing{
  0%{
    width: 100%;
    border-left:.1px solid var(--main-bg-color);
  }
  50%{
    width:0;
  }
  100%{
    border:none;
  }
}

main
.presentation{
  width:50%;
  height: 100%;
  background-color: var(--color-secondary);
  margin:auto;
  margin-bottom: 2rem;
  margin-top:2rem;
  border-radius: 1rem;
}

main
.presentation
p{
  font-family: 'Poppins', sans-serif;
  color:white;
  padding: 1rem;
}

main
.container{
  width: 100%;
  display:flex;
  flex-direction:column;
  gap: 1.5rem;
  justify-content: center;
}

.container > .square{
  background-color:var(--color-primary);
  padding: 1rem;
  width: 80%;
  height: 100%;
  margin:auto;
  border-radius: 16px;
  box-shadow: .5rem .5rem .5rem gray;
  font-family: 'Poppins', sans-serif;
  animation: bigger;
  animation-duration: 1s;
}

@keyframes bigger{
  0%{
    background-color: var(--main-bg-color);
    color: var(--main-bg-color);
    box-shadow: none;
  }
}

.container
.square:hover{
  background-color: var(--color-secondary);
  
}

.container
.square:active{
  background-color: var(--color-tertiary);
}

main
.first{
  margin-top:.1rem;
}

main
section
a{
  text-decoration: none;
  color:var(--main-bg-color);
}

main
section
a
h1{
  width: 100%;
  font-size: 1.025rem;
  line-height: 1.6;
}

main
section
a
p{
  margin-bottom: .5rem;
  line-height: 1.1;
  padding-left:.2rem;
  text-align: left;
}

main
section
img{
  width: 50%;
  display: block;
  margin:auto;
  border-radius: 16px;
  animation: appear;
  animation-duration: 2s;
}

@keyframes appear{
  0%{
    transform: translate(-7rem, 0);
  }
  25%{
    width:45%;
  }
}
footer{
  background-color: var(--color-primary);
  margin-top:1rem;
  padding: 1rem;
  animation: bigger;
  animation-duration: 5s;
}

footer
p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color:var(--main-bg-color);
}

@media (min-width:375px){
  header
  nav
  .home{
    margin-left:8rem;
  }

  main
  section
  img{
    width:50%;
  }
}

@media (min-width:425px){
  header
  nav
  .home{
    margin-left:11.1rem;
  }
}

@media (min-width:768px){
  header
  nav
  .home{
    margin-left:31.5rem;
  }

  main
  .container{
    width:90%;
    flex-direction: row;
    margin:auto;
  }


  }
  

}

@media (min-width:1024px){
  header
  nav
  .home{
    margin-left:48rem;
  }

  main
  .container{
    width:80%;
    flex-direction: row;
    margin:auto;
    margin-bottom:11rem;
  }

  body{
    margin-right:.1rem;
  }
}

@media (min-width:1200px){
  header
  nav
  .home{
    margin-left:65.5rem;
  }

  main
  section
  {
    width: 25%;
  }

  main
  .container{
    width:80%;
    flex-direction: row;
    margin:auto;
    /* margin-top:8%; */
    margin-bottom:4.5rem;
  }
}

@media (min-width:1440px){
  header
  nav
  .home{
    margin-left:73.5rem;
  } 
}