*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* SCROLL */

body::-webkit-scrollbar{
  width:.5rem;
  /* padding-right:1rem; */
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(158, 158, 158);
  border-radius:1rem;
}

header
nav{
  display:flex;
  flex-direction: row-reverse;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width:100%;
}

nav
a{
  text-decoration: none;
  color:black;
}

header
nav
.btn{
  margin-top:1rem;
  margin-left: .5rem;
  font-size: .775rem;
  text-transform: uppercase;
  font-weight: 600;
}

header
nav
.logo{
  margin-right: .9rem;
}

header
nav
.home{
  margin-left: 4.9rem;
}

main
.title-container{
  height: 4rem;
  width:100%;
  
  background-color: black;
  
  margin-top:.6rem;
  margin-bottom: 1rem;

  padding-top: .2rem;
  padding: 1rem;
}

.title-container
.main-title{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color:white;
  font-weight: 600;
  font-size: 1.575rem;
  text-align: left;
}

main
.container{
  width: 100%;
  display:flex;
  flex-direction:column;
  gap: 1.5rem;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.container > .square{
  background-color: black;
  padding: 1rem;
  width: 80%;
  margin:auto;
  border-radius: 16px;
  box-shadow: .5rem .5rem .5rem gray;
  font-family: 'Poppins', sans-serif;
}

main
.first{
  margin-top:.1rem;
}

main
section
a{
  text-decoration: none;
  color:white;
}

main
section
a
h1{
  width: 100%;
  font-size: 1.025rem;
  line-height: 1.6;
}

main
section
a
p{
  margin-bottom: .5rem;
  line-height: 1.1;
  padding-left:.2rem;
  text-align: left;
}

main
section
img{
  width: 50%;
  display: block;
  margin:auto;
  border-radius: 16px;
}

footer{
  background-color: black;
  margin-top:1rem;
  padding: 1rem;
}

footer
p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color:white;
}

@media (min-width:375px){
  header
  nav
  .home{
    margin-left:8rem;
  }

  main
  section
  img{
    width:50%;
  }
}

@media (min-width:425px){
  header
  nav
  .home{
    margin-left:11.1rem;
  }
}

@media (min-width:768px){
  header
  nav
  .home{
    margin-left:31.5rem;
  }

  main
  .container{
    width:90%;
    flex-direction: row;
    margin:auto;
  }



}

@media (min-width:1024px){
  header
  nav
  .home{
    margin-left:48rem;
  }

  main
  .container{
    width:80%;
    flex-direction: row;
    margin:auto;
    margin-bottom:11rem;
  }

  body{
    margin-right:.1rem;
  }
}

@media (min-width:1200px){
  header
  nav
  .home{
    margin-left:65.5rem;
  }

  main
  section
  {
    width: 25%;
  }

  main
  .container{
    width:80%;
    flex-direction: row;
    margin:auto;
    margin-top:10%;
    margin-bottom:6.5rem;
  }
}

@media (min-width:1440px){
  header
  nav
  .home{
    margin-left:73.5rem;
  } 
}