*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header
nav{
  display:flex;
  flex-direction: row-reverse;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width:100%;
}

nav
a{
  text-decoration: none;
  color:black;
}

header
nav
.btn{
  margin-top:1rem;
  margin-left: .5rem;
  font-size: .775rem;
  text-transform: uppercase;
  font-weight: 600;
}

header
nav
.logo{
  margin-right: .9rem;
}

header
nav
.home{
  margin-left: 4.9rem;
}

main{
  font-family: 'Poppins', sans-serif;
  width:80%;
  margin:auto;
  background-color: rgb(238, 238, 238);
  padding: .5em;
  margin-top:1.7rem;
  margin-bottom:2rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px gray;
}

main
section{
  padding-bottom: 1.7rem;
}

main
section
h1{
  margin-top:1rem;
  margin-left:1rem;
  font-size: .875rem;
}

main
section
.first{
  margin-top:.5rem;
}

main
section
h2{
  margin-top:.1rem;
  margin-left:1rem;
  font-size: .875rem;
}

section
p{
  margin-left:1rem;
  font-size: .875rem;
  text-align: justify;
  padding-right: 1rem;
}

table, td, th{
  border: .1rem solid black;
}

table{
  border-collapse: collapse;
}


main
.hashtags{
  width:95%;
  overflow: scroll;
  margin:auto;
  margin-top:.5rem;
  border-collapse: collapse;
  background-color: white;
}

.hashtags,
.hashtags tr th,
.hashtags tr td{
  font-family: 'Poppins', sans-serif;
  border: .01rem solid  black;
}

.hashtags
tr
th{
  padding: .5rem;
  text-align: left;
}

.hashtags
tr
td{
  padding: .5rem;
  text-align: left;
}

.hashtags
tr
th
h4{
  font-size: .875rem;
  font-weight: bold;
  color:black;
}

.hashtags
tr
td
h5{
  font-size: .875rem;
  font-weight: 500;
  color:black;
}

footer{
  background-color: black;
}

footer
p{
  color:white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top:1rem;
  padding:1rem;
}