*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/* VARIABLES */
:root{
	--main-bg-color:#fff;
	--color-primary:#03045E;
	--color-secondary:#023E8A;
	--color-tertiary:#0077B6;
	--hover-bg-color:#e6e6e6;
	--active-bg-color:#bfbfbf;
	--main-font: 'Roboto', sans serif;
	--sec-font: 'Poppins', sans-serif;
}
/* SCROLL */
body::-webkit-scrollbar{
	width:.5rem;
	background-color: var(--main-bg-color);
	
}

body::-webkit-scrollbar-thumb{
	background-color: var(--color-secondary);
	border-radius:1rem;
}
/* BODY */

header
nav{
	width:100%;
	background-color: var(--main-bg-color);
	display:flex;
	flex-direction: row-reverse;
	font-family: var(--main-font);
}

nav
a{
	text-decoration: none;
	color:var(--color-primary);
	text-align: center;
  animation: appear-bg 600ms;
}

nav
a
p{
	padding-top: .25rem;
}
nav
a:hover{
	color:var(--color-secundary);
}

header
nav
.btn{
	width:6rem;
	height:1.4rem;

	margin-top:1rem;
	margin-left: .5rem;

	font-size: .775rem;
	text-transform: uppercase;
	font-weight: 600;

	animation: bigger;
	animation-duration: 600ms;
}

header
nav
.btn:hover{
	background-color: var(--hover-bg-color);
	border-radius: 1rem;
}

header
nav
.btn:active{
	background-color:var(--active-bg-color);
}

header
nav
.logo{
	margin-right: .9rem;
}

header
nav
.home{
	margin-left: 4.9rem;
}

main{
  font-family: 'Poppins', sans-serif;
  width:80%;
  margin:auto;
  background-color: var(--hover-bg-color);
  padding: .5em;
  margin-top:1.7rem;
  margin-bottom:2rem;
  border-radius: 1rem;
  /* box-shadow: 10px 10px 10px gray; */
  animation: appear-bg 600ms;
}

main
section{
  padding-bottom: 1.7rem;
  animation: appear-bg 600ms;
}

main
section
h1{
  margin-top:1rem;
  margin-left:1rem;
  font-size: .875rem;
  color:var(--color-primary);
  animation: appear-bg 600ms;
}

main
section
.first{
  margin-top:.5rem;
}

main
section
h2{
  margin-top:.1rem;
  margin-left:1rem;
  font-size: .875rem;
  color:var(--color-primary);
  animation: appear-bg 600ms;
}

section
p{
  margin-left:1rem;
  font-size: .875rem;
  text-align: justify;
  padding-right: 1rem;
  color:var(--color-primary);
  animation: appear-bg 600ms;
}

.hashtags, td, th{
  border: .1rem solid black;
}

.hashtags{
  border-collapse: collapse;
}


main
.hashtags{
  width:95%;
  overflow: scroll;
  margin:auto;
  margin-top:.5rem;
  border-collapse: collapse;
  background-color: white;
}

.hashtags,
.hashtags tr th,
.hashtags tr td{
  font-family: 'Poppins', sans-serif;
  border: .01rem solid  var(--main-bg-color);
  background-color: var(--color-primary);
  animation: appear-bg 600ms;
}

.hashtags
tr
th{
  padding: .5rem;
  text-align: left;
}

.hashtags
tr
td{
  padding: .5rem;
  text-align: left;
}

.hashtags
tr
th
h4{
  font-size: .875rem;
  font-weight: bold;
  color:var(--main-bg-color);
}

.hashtags
tr
td
h5{
  font-size: .875rem;
  font-weight: 500;
  color:var(--main-bg-color);
}

footer{
  background-color: var(--color-primary);
  animation: appear-bg 600ms;
}

footer
p{
  color:white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top:1rem;
  padding:1rem;
  animation: appear-bg 600ms;
}

@keyframes appear-bg{
  0%{
    background-color:var(--main-bg-color);
    color:var(--main-bg-color);
  }
}