:root {
	--font-text: 'Nunito Sans', sans-serif;
	--font-code: 'Roboto Mono', Consolas;
	--font-logo: 'Raleway', sans-serif;
	--font-logo-black: 'Raleway Black', sans-serif;
	--dark-color: #1f2937;
	--text-dark-color: #e7e9ea;
	--link-dark-color: #73cffa;
	--border-dark-color: #586474;
	--light-color: #f9fafb;
	--text-light-color: #16191d;
	--link-light-color: #08c;
	--border-light-color: #f2f2f2;
	--primary-color: #6247aa;
	--secondary-color: #6267aa;
	--container-sm: 768px;
	--container-md: 992px;
	--container-lg: 1200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: var(--font-text);
	background-color: var(--light-color);
	color: var(--text-light-color);
	min-height: 100vh;
	animation: opacity 0.3s ease-in-out;
}
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.home {
	margin: auto;
}

nav {
	width: 100%;
	padding: 16px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	background-color: var(--light-color);
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
}

nav a {
	cursor: pointer;
}

.logo {
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 600;
}
.logo br {
	display: none;
}
.navbar-services {
	display: none;
}
.navbar-services a {
	margin: 0 20px;
	text-decoration: none;
	color: var(--primary-color);
	border-bottom: 2px solid transparent;
	transition: border-color 0.2s ease-in-out;
}

@media (hover: hover) {
	.navbar-services a:hover {
		border-color: var(--primary-color);
	}
}
.navbar-social {
	display: none;
	gap: 12px;
}
.navbar-social a {
	font-size: 1.3rem;
	color: var(--text-light-color);
}

.navbar-social a:hover {
	color: var(--primary-color);
}
.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
}
.burger-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.burger-modal li {
	width: 100%;
	background-color: var(--primary-color);
	padding: 12px;
}
.burger-modal li:not(:first-child) {
	border-top: 1px solid white;
}
.burger-modal li:last-child {
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.burger-modal a {
	color: #fff;
}
figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 8px;
	height: 100vh;
}
figure .navbar-social {
	list-style: none;
	display: flex;
	justify-content: center;
}
img {
	width: 150px;
	border-radius: 50%;
}

figcaption {
	gap: 16px;
	width: 80%;
	max-width: 300px;
	margin: 16px 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

figcaption h3 {
	text-transform: uppercase;
}

.list-services {
	width: 80%;
	text-align: justify;
	margin: auto;
	padding-bottom: 32px;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	margin-top: 8px;
}

.list-services ul {
	padding-left: 20px;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	color: gray;
}
.hidden {
	display: none;
}
@media screen and (min-width: 900px) {
	.burger-modal {
		display: none;
	}
	nav {
		position: static;
		box-shadow: none;
	}
	.home {
		width: 100%;
	}
	nav > :is(.navbar-services, .navbar-social) {
		display: flex;
	}
	article .navbar-social {
		display: none;
	}
	.home nav {
		font-weight: 600;
	}

	.home section {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 0;
		gap: 3rem;
		padding: 0 32px;
		place-content: center;
		height: 75vh;
	}

	figure {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-color: rgb(255, 255, 255);
		border-radius: 24px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		padding: 32px 0;
	}

	figcaption {
		max-width: none;
	}

	figcaption h3 {
		font-weight: 400;
	}
	figcaption p {
		width: 400px;
		margin: auto;
		text-align: center;
		margin-top: 12px;
	}

	img {
		width: 150px;
	}

	.list-services {
		width: 90%;
		margin-top: auto;
	}

	.list-services ul {
		width: 100%;
	}
}
