:root {
	--font-text: 'Nunito Sans', sans-serif;
	--primary-color: rgb(0, 0, 0);
	--secondary-color: rgb(24, 24, 24);
	--tertiary-color: rgb(32, 32, 32);
	--text-color: #f5f5f5;
	--text-color-gray: gray;
	--text-color-gray-2: rgb(180, 180, 180);
	--text-color-paragraph: rgb(200, 200, 200);
	--border-color: #f2f2f2;
	--border-primary: 1px solid rgb(38, 38, 38);
	--border-secondary: 1px solid rgb(42, 42, 42);
	--border-radius: 4px;
	--link-color: rgb(196, 235, 255);
	--black-transparent-5: rgba(0, 0, 0, 0.5);
	--black-transparent-1: rgba(0, 0, 0, 0.1);
	--navbar-height: 60px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}

html {
	font-family: var(--font-text);
	color: var(--text-light-color);
	min-height: 100vh;
	background-color: var(--primary-color);
	color: var(--text-color);
}
body {
	scroll-behavior: smooth;
}
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

nav {
	background-color: var(--primary-color);
	box-shadow: inset -20px 1px 12px rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease-in-out;
}
.nav-fixed {
	position: sticky;
	top: 0;
}
nav ul {
	padding: 18px;
	width: 100%;
	display: flex;
	gap: 2rem;
	list-style: none;
	overflow: scroll;
}
nav a {
	text-decoration: none;
	font-size: 0.95rem;
	color: var(--text-color-gray-2);
	padding-bottom: 2px;
}
.tab-active {
	cursor: default;
	color: var(--text-color);
}
nav a:hover {
	border-bottom: 2px solid var(--text-color);
}
.logo-nav {
	font-weight: bold;
	flex-grow: 1;
}
.logo-nav p {
	font-size: 1.15rem;
	width: 45vw;
}
main {
	padding: 2rem;
	background-color: var(--secondary-color);
}
main section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, auto));
	gap: 2rem;
}
.projects-filter-container {
	display: flex;
	justify-content: end;
	align-items: center;
	grid-column: 2/-1;
}
.projects-filter-container button {
	height: fit-content;
	background-color: var(--tertiary-color);
	padding: 8px 16px;
	color: var(--text-color);
	border-radius: var(--border-radius);
	border: var(--border-primary);
	cursor: pointer;
}

.projects-filter-content {
	width: 50vw;
	max-width: 400px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	position: absolute;
	transform: translateY(6rem);
	background-color: var(--tertiary-color);
	border: var(--border-primary);
	border-radius: var(--border-radius);
	padding: 1rem;
	box-shadow: 1px 1px 12px var(--black-transparent-5);
}
.projects-filter-content li {
	list-style: none;
	padding: 2px 6px;
	border-radius: var(--border-radius);
	font-size: 0.9rem;
	cursor: pointer;
}
.clear-filter {
	background-color: rgb(48, 48, 48);
}
h1 {
	font-size: 2rem;
}
.article-ancle {
	background-color: var(--tertiary-color);
	padding: 1.5rem;
	border-radius: var(--border-radius);
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
	border: var(--border-secondary);
	text-decoration: none;
	color: var(--text-color);
	transition: opacity 0.2s ease-in-out;
}
.article-ancle h3 {
	margin-top: 0.5rem;
}
.project-description,
.project-description > figcaption {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.article-ancle:hover {
	background-color: rgb(40, 40, 40);
}
.article-ancle img {
	max-height: 200px;
	min-height: 200px;
	object-fit: cover;
	border-radius: var(--border-radius);
}
.article-ancle p {
	text-align: justify;
	color: var(--text-color-paragraph);
}
.author-project {
	display: flex;
	align-items: center;
	gap: 8px;
}
.author-project img {
	min-height: 0;
	width: 60px;
	border-radius: 50%;
}
.author-project figcaption {
	display: flex;
	flex-direction: column;
}
.category {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
.category small {
	border-radius: var(--border-radius);
	padding: 2px 6px;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	gap: 4px;
}
footer a {
	text-decoration: none;
	color: var(--text-color-gray);
	font-size: 0.85rem;
}
footer a:hover {
	text-decoration: underline;
}
footer .links {
	list-style: none;
	display: flex;
	gap: 8px;
}
footer .separator {
	font-size: 8px;
	display: flex;
	align-items: center;
	color: var(--text-color-gray);
}
.no-select {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.hidden {
	display: none;
}
@media screen and (min-width: 530px) {
	nav ul {
		overflow: hidden;
	}
}
@media screen and (min-width: 800px) {
	nav ul {
		padding: 18px 0;
	}
	nav ul,
	section,
	footer {
		width: 80vw;
		margin: auto;
	}

	section {
		grid-template-columns: repeat(auto-fill, minmax(300px, auto));
	}
	.article-ancle:first-of-type {
		grid-column: 1/4;
	}
	.article-ancle:first-of-type h3 {
		font-size: 2rem;
	}
	.article-ancle:first-of-type figure {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		align-items: center;
	}
	.article-ancle:first-of-type img {
		max-height: 250px;
		margin: 0;
	}
	.article-ancle:first-of-type figcaption {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: fit-content;
		column-gap: 1.5rem;
	}
	.article-ancle:first-of-type p {
		grid-column: 1/-1;
	}

	.article-ancle:first-of-type .author-project {
		display: flex;
		flex-direction: column;
		grid-column: 1/2;
		grid-row: 3/4;
		height: fit-content;
		gap: 6px;
		margin-left: auto;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.article-ancle:first-of-type .author-project figcaption {
		display: flex;
	}
	.article-ancle:first-of-type .category {
		grid-column: 1/-1;
		display: flex;
		flex-direction: column;
		width: fit-content;
		grid-column: 2/3;
		gap: 6px;
		margin-right: auto;
		align-items: center;
		justify-content: center;
	}
	.article-ancle:first-of-type .category small {
		text-align: center;
		width: 100%;
	}
	footer {
		flex-direction: row;
		align-items: center;
		gap: 0;
		padding: 2rem 0;
	}
	main h1 {
		font-size: 4rem;
	}
}
